h1 {font-size: 3em !important}
.form-row {margin-top: 50px}
td.content,td.pages,td.users{cursor:pointer}
#imagelightbox{position: fixed;z-index: 9999;-ms-touch-action: none;touch-action: none}
nav{margin-bottom: 50px}
span.inserter{cursor:pointer}
.ghost{display:none;visibility:hidden}
.custom-file-upload-hidden{display:none;visibility:hidden;position:absolute;left:-9999px}.custom-file-upload{display:block;width:auto;font-size:12px;margin-top:30px}.custom-file-upload label{display:block;margin-bottom:5px}.file-upload-wrapper{position:relative;margin-bottom:5px}.file-upload-input{width:300px;color:#fff;font-size:12px;padding:11px 17px;border:none;background-color:#fff;-moz-transition:all .2s ease-in;-o-transition:all .2s ease-in;-webkit-transition:all .2s ease-in;transition:all .2s ease-in;float:left}.file-upload-input:hover,.file-upload-input:focus{background-color:#fff;color:#000;outline:none}.file-upload-button{cursor:pointer;display:inline-block;color:#fff;font-size:12px;text-transform:uppercase;padding:11px 20px;border:none;margin-left:-1px;background-color:#000;float:left;-moz-transition:all .2s ease-in;-o-transition:all .2s ease-in;-webkit-transition:all .2s ease-in;transition:all .2s ease-in}.file-upload-button:hover{background-color:#333}
.thumbnail{max-height: 25%,;max-width:25%;}

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;
/* Required to make elements draggable in old WebKit */
-khtml-user-drag: element;
-webkit-user-drag: element;
}

[draggable=true] {cursor: move;}

.pagegen ul
{
	margin: 10px 10px 10px 10px;
	border: 1px solid #000;
}

.pagegen li
{
	border: 1px solid #000;
	padding: 5px 5px 5px 5px;
	color: #000;
	font-weight: 400;
	font-size: 20px;
}