<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Constructr Administration</title>
<link rel="stylesheet" href="{{ @CONSTRUCTR_BASE_URL}}/CONSTRUCTR-CMS/ASSETS/css/constructr.css">
<link rel="stylesheet" href="{{ @CONSTRUCTR_BASE_URL}}/CONSTRUCTR-CMS/ASSETS/materialize/css/materialize.min.css">
<link rel="stylesheet" href="{{ @CONSTRUCTR_BASE_URL}}/CONSTRUCTR-CMS/ASSETS/vex/css/vex.css">
<link rel="stylesheet" href="{{ @CONSTRUCTR_BASE_URL}}/CONSTRUCTR-CMS/ASSETS/vex/css/vex-theme-wireframe.css">
</head>
<body>

    <nav>
        <div class="nav-wrapper light-green lighten-1">
            <a href="#" data-activates="mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            <ul class="left hide-on-med-and-down">
                <li>&#160;&#160;&#160;</li>
                <li><a class="tooltipped" data-position="bottom" data-delay="25" data-tooltip="Dashboard" href="{{ @CONSTRUCTR_BASE_URL}}/constructr/admin"><i class="mdi-device-dvr"></i></a></li>
                <li><a class="tooltipped" data-position="bottom" data-delay="25" data-tooltip="Seitenverwaltung" href="{{ @CONSTRUCTR_BASE_URL}}/constructr/pagemanagement"><i class="mdi-action-dashboard"></i></a></li>
                <li><a class="tooltipped" data-position="bottom" data-delay="25" data-tooltip="Uploads" href="{{ @CONSTRUCTR_BASE_URL}}/constructr/uploads"><i class="mdi-file-cloud"></i></a></li>
                <li class="active"><a class="tooltipped" data-position="bottom" data-delay="25" data-tooltip="Benutzerverwaltung" href="{{ @CONSTRUCTR_BASE_URL}}/constructr/usermanagement"><i class="mdi-communication-contacts"></i></a></li>
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="tooltipped" data-position="bottom" data-delay="25" data-tooltip="Logout?" id="logout" href="{{ @CONSTRUCTR_BASE_URL}}/constructr/logout"><i class="mdi-action-exit-to-app right"></i>{{ @SESSION.username }}</a></li>
            </ul>
            <ul class="side-nav" id="mobile">
                <li><a class="tooltipped" data-position="right" data-delay="25" data-tooltip="Dashboard" href="{{ @CONSTRUCTR_BASE_URL}}/constructr/admin"><i class="mdi-device-dvr"></i></a></li>
                <li><a class="tooltipped" data-position="right" data-delay="25" data-tooltip="Seitenverwaltung" href="{{ @CONSTRUCTR_BASE_URL}}/constructr/pagemanagement"><i class="mdi-action-dashboard"></i></a></li>
                <li><a class="tooltipped" data-position="right" data-delay="25" data-tooltip="Uploads" href="{{ @CONSTRUCTR_BASE_URL}}/constructr/uploads"><i class="mdi-file-cloud"></i></a></li>
                <li class="active"><a class="tooltipped" data-position="right" data-delay="25" data-tooltip="Benutzerverwaltung" href="{{ @CONSTRUCTR_BASE_URL}}/constructr/usermanagement"><i class="mdi-communication-contacts"></i></a></li>
                <li><a class="tooltipped" data-position="right" data-delay="25" data-tooltip="Logout?" id="logout" href="{{ @CONSTRUCTR_BASE_URL}}/constructr/logout"><i class="mdi-action-exit-to-app right"></i>{{ @SESSION.username }}</a></li>
            </ul>
        </div>
    </nav>

    <div class="row">
        <div class="col s12"><p><a href="{{ @CONSTRUCTR_BASE_URL}}/constructr/usermanagement/new" class="waves-effect waves-light btn"><i class="mdi-content-add-circle right"></i>Neuer Benutzer</a></p></div>
    </div>

    <div class="row">
        <div class="col s12">
            <check if="{{ @USER_COUNTR != 0 }}">
                <true>
                    <p><strong>{{ @USER_COUNTR }} Benutzer vorhanden</strong></p>
                    <check if="{{ @EDIT=='success' }}">
						<div class="card-panel green darken-3 white-text">Der Benutzer wurde erfolgreich bearbeitet!</div>
                    </check>
                    <check if="{{ @EDIT=='no-success' }}">
						<div class="card-panel red darken-3 white-text">Der Benutzer wurde leider nicht aktualisiert!</div>
                    </check>
                    <check if="{{ @NEW=='success' }}">
						<div class="card-panel green darken-3 white-text">Der Benutzer wurde erfolgreich erstellt!</div>
                    </check>
                    <check if="{{ @NEW=='no-success' }}">
						<div class="card-panel red darken-3 white-text">Der Benutzer konnte leider nicht erstellt werden!</div>
                    </check>
                    <check if="{{ @DELETE=='success' }}">
						<div class="card-panel green darken-3 white-text">Der Benutzer wurde erfolgreich gel&ouml;scht!</div>
                    </check>
                    <check if="{{ @DELETE=='no-success' }}">
						<div class="card-panel red darken-3 white-text">Der Benutzer konnte leider nicht gel&ouml;scht werden!</div>
                    </check>
                    <table class="bordered responsive-table hoverable">
                        <thead>
                            <tr>
                        	<th data-field="ID" class="center-align">ID</th>
                            <th data-field="Benutzername">Benutzername</th>
                            <th data-field="eMail">eMail</th>
                            <th data-field="Aktionen" class="center-align">Aktionen</th>
                            </tr>
                        </thead>
                        <tbody>
                            <repeat group="{{ @USER }}" value="{{ @USER }}">
                            <tr>
                            	<td class="center-align">{{ @USER.constructr_user_id }}</td>
                                <td class="tooltipped users" data-position="right" data-delay="25" data-tooltip="Doppelklick um Benutzer ''ID {{ @USER.constructr_user_id }}'' zu bearbeiten" id="user_id_@@@{{ @USER.constructr_user_id }}">
                                    {{ @USER.constructr_user_username }}
                                </td>
                                <td>{{ @USER.constructr_user_email }}</td>
                                <td class="center-align">
                                	<a href="{{ @CONSTRUCTR_BASE_URL}}/constructr/usermanagement/edit/{{ @USER.constructr_user_id }}" data-position="left" data-delay="25" data-tooltip="Benutzer ''{{ @USER.constructr_user_username }}'' bearbeiten" class="tooltipped waves-effect waves-light btn-small"><i class="mdi-editor-mode-edit"></i></a>
                                	&#160;
                                	<a href="{{ @CONSTRUCTR_BASE_URL}}/constructr/usermanagement/edit-rights/{{ @USER.constructr_user_id }}" data-position="left" data-delay="25" data-tooltip="Benutzerrechte ''{{ @USER.constructr_user_username }}'' bearbeiten" class="tooltipped waves-effect waves-light btn-small"><i class="mdi-action-lock"></i></a>
                                	&#160;
                                	<a href="{{ @CONSTRUCTR_BASE_URL}}/constructr/usermanagement/delete/{{ @USER.constructr_user_id }}" data-position="left" data-delay="25" data-tooltip="Seite ''{{ @USER.constructr_user_username }}'' l&ouml;schen" class="deleter tooltipped waves-effect waves-light btn-small"><i class="mdi-action-delete"></i></a>
                                </td>
                            </tr>
                        </repeat>
                        </tbody>
                    </table>
                </true>
                <false>
                    <p><strong>Keine Benutzer vorhanden</strong></p>
                </false>
            </check>
        </div>
    </div>

	<div class="row"><div class="col s12 center-align"><p><small><a href="http://phaziz.com" target="_blank">ConstructrCMS Version {{ @CONSTRUCTR_VERSION }}</small></a></p></div></div>

    <script src="{{ @CONSTRUCTR_BASE_URL}}/CONSTRUCTR-CMS/ASSETS/jquery/jquery-2.1.4.min.js"></script>
    <script src="{{ @CONSTRUCTR_BASE_URL}}/CONSTRUCTR-CMS/ASSETS/materialize/js/materialize.min.js"></script>
    <script src="{{ @CONSTRUCTR_BASE_URL}}/CONSTRUCTR-CMS/ASSETS/vex/js/vex.combined.min.js"></script>
    <script>
        $(function() {
            $(".button-collapse").sideNav();
            $('.users').dblclick(function(){
				var INFO = $(this).attr('id');
				INFO = INFO.split('@@@');
            	var USER_ID = INFO[1];
            	window.location = '{{ @CONSTRUCTR_BASE_URL}}/constructr/usermanagement/edit/' + USER_ID;
            });
            $('.deleter').click(function(e) {
				e.preventDefault();
	            var U = $(this).attr('href');
	            vex.dialog.buttons.YES.text = 'Ja';
	            vex.dialog.buttons.NO.text = 'Abbrechen';
	            vex.dialog.confirm({
	                className: 'vex-theme-wireframe',
	                message: 'Möchten Sie diesen Benutzer wirklich vorrständig löschen?',
	                callback: function(value){
	                    if(value == true){
	                        $(location).attr('href',U);
	                    } else {
	                        return false;
	                    }
	                }
	            });
            });
            $(document).keyup(function(e) {
			    if (e.which === 27) javascript:history.back();
			});
            function autoBlinder(){
                $('.card-panel').fadeOut();
            }
            setInterval(autoBlinder,4500);
			$('#logout').click(function(e) {
				e.preventDefault();
	            var U = $(this).attr('href');
	            vex.dialog.buttons.YES.text = 'Ja';
	            vex.dialog.buttons.NO.text = 'Abbrechen';
	            vex.dialog.confirm({
	                className: 'vex-theme-wireframe',
	                message: 'Möchten Sie sich wirklich abmelden und ausloggen?',
	                callback: function(value){
	                    if(value == true){
	                        $(location).attr('href',U);
	                    } else {
	                        return false;
	                    }
	                }
	            });
			});
        });
    </script>
</body>
</html>
