<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Constructr Administration</title>
<link rel="stylesheet" href="{{ @CONSTRUCTR_BASE_URL}}/CONSTRUCTR-CMS/ASSETS/css/constructr.css">
<link rel="stylesheet" href="{{ @CONSTRUCTR_BASE_URL}}/CONSTRUCTR-CMS/ASSETS/materialize/css/materialize.min.css">
</head>
<body>
    <nav>
        <div class="nav-wrapper light-green lighten-1">
            <a href="#" data-activates="mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            <ul class="left hide-on-med-and-down">
                <li>&#160;&#160;&#160;</li>
                <li class="active"><a class="tooltipped" data-position="right" data-delay="25" data-tooltip="Seitenverwaltung" href="{{ @CONSTRUCTR_BASE_URL}}/constructr/pagemanagement"><i class="mdi-action-dashboard"></i></a></li>
                <li><a class="tooltipped" data-position="right" data-delay="25" data-tooltip="Uploads" href="{{ @CONSTRUCTR_BASE_URL}}/constructr/uploads"><i class="mdi-file-cloud"></i></a></li>
                <li><a class="tooltipped" data-position="right" data-delay="25" data-tooltip="Benutzerverwaltung" href="{{ @CONSTRUCTR_BASE_URL}}/constructr/usermanagement"><i class="mdi-communication-contacts"></i></a></li>
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="tooltipped" data-position="left" data-delay="25" data-tooltip="Logout?" id="logout" href="{{ @CONSTRUCTR_BASE_URL}}/constructr/logout"><i class="mdi-action-exit-to-app right"></i>{{ @SESSION.username }}</a></li>
            </ul>
            <ul class="side-nav" id="mobile">
                <li class="active"><a class="tooltipped" data-position="right" data-delay="25" data-tooltip="Seitenverwaltung" href="{{ @CONSTRUCTR_BASE_URL}}/constructr/pagemanagement"><i class="mdi-action-dashboard"></i></a></li>
                <li><a class="tooltipped" data-position="right" data-delay="25" data-tooltip="Uploads" href="{{ @CONSTRUCTR_BASE_URL}}/constructr/uploads"><i class="mdi-file-cloud"></i></a></li>
                <li><a class="tooltipped" data-position="right" data-delay="25" data-tooltip="Benutzerverwaltung" href="{{ @CONSTRUCTR_BASE_URL}}/constructr/usermanagement"><i class="mdi-communication-contacts"></i></a></li>
                <li><a class="tooltipped" data-position="right" data-delay="25" data-tooltip="Logout?" id="logout" href="{{ @CONSTRUCTR_BASE_URL}}/constructr/logout"><i class="mdi-action-exit-to-app right"></i>{{ @SESSION.username }}</a></li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col s12">
            <p><strong>Inhalt auf Seite <a class="tooltipped" data-position="tpo" data-delay="25" data-tooltip="Seite im Browser zeigen" href="{{ @CONSTRUCTR_BASE_URL }}/{{ @PAGE.0.constructr_pages_url }}" target="_blank">''{{ @PAGE.0.constructr_pages_name }}''</a> bearbeiten</strong> | <a href="#" id="uploadsbtn">Uploads anzeigen</a></p>
        </div>
    </div>

    <form name="edit_content" id="edit_content" action="{{ @CONSTRUCTR_BASE_URL}}/constructr/content/{{ @PAGE_ID }}/edit/{{ @CONTENT.0.constructr_content_id }}" method="post" enctype="application/x-www-form-urlencoded" class="col s12">
        <input type="hidden" name="csrf" value="{{ @CSRF }}">
        <input type="hidden" name="csrf_additive" value="{{ @ADDITIVE }}">
        <input type="hidden" name="csrf_tripple_additive" value="{{ @TRIPPLE_ADDITIVE }}">
	    <div class="row">
	    	<check if="{{ @CONTENT }}">
	    		<true>
			            <div class="input-field col s6">
			                <textarea id="edit_content_raw" name="edit_content_raw" class="materialize-textarea" autofocus required="required" style="max-height: 500px; overflow: auto;">{{ @CONTENT.0.constructr_content_content_raw }}</textarea>
			                <label for="edit_content">Inhalt (Markdown):</label>
			            </div>
			            <div class="input-field col s6" id="live-preview" style="max-height: 500px;overflow:auto;padding: 10px 10px 10px 10px;"></div>
			            <div class="input-field col s12">
			                <button class="btn waves-effect waves-light" type="submit" name="action">Inhalt speichern</button>
			                <p><small>[Zeichen: <span id='character-counter' class='counter'></span> | W&ouml;rter: <span id='word-counter' class='counter'></span> | Abs&auml;tze: <span id='paragraph-counter' class='counter'></span>]</small>
			                <p><small>Taste <strong>''ESC''</strong> zum abbrechen dr&uuml;cken</small></p>
			                <p><small>Der eingegebene Text wird beim speichern von <a href="http://en.wikipedia.org/wiki/Markdown" target="_blank">Markdown</a>-Syntax in HTML umgewandelt!</small></p>
			            </div>
	    		</true>
	    		<false>
	    			<p>Es ist ein Fehler aufgetreten!</p>
	    		</false>
	        </check>
	    </div>
    </form>
    
    
	<div id="uploads" class="modal">
    	<div class="modal-content">
			<h4>Verf&uuml;gbare Uploads</h4>
	        <table class="bordered responsive-table hoverable">
	            <thead>
	                <tr>
	                <th data-field="Dateiname">Dateiname</th>
	                <th data-field="URL">Markdown-Code</th>
	                </tr>
	            </thead>
	            <tbody>
					<check if="{{ @IMAGES }}">
						<true>
			                <repeat group="{{ @IMAGES }}" value="{{ @IMAGE }}">
				                <tr>
				                    <td><a href="{{ @CONSTRUCTR_BASE_URL }}/UPLOADS/{{ @IMAGE }}" target="_blank" class="tooltipped lightbox" data-position="top" data-delay="25" data-tooltip="Vorschau in Lightbox"><img src="{{ @CONSTRUCTR_BASE_URL }}/UPLOADS/{{ @IMAGE }}" alt="{{ @IMAGE }}" title="{{ @IMAGE }}" style="max-height: 50px;"></a></td>
				                    <td><span class="tooltipped inserter" id="{{ @IMAGE }}" data-position="top" data-delay="25" data-tooltip="Markdown-Code &uuml;bernehmen">![{{ @IMAGE }}]({{ @CONSTRUCTR_BASE_URL }}/UPLOADS/{{ @IMAGE }} "{{ @IMAGE }}")</span></td>
				                </tr>
				            </repeat>
						</true>
					</check>
					<check if="{{ @FILES }}">
						<true>
			                <repeat group="{{ @FILES }}" value="{{ @FILE }}">
				                <tr>
				                    <td><a href="{{ @CONSTRUCTR_BASE_URL }}/UPLOADS/{{ @FILE }}" target="_blank" class="tooltipped lightbox" data-position="top" data-delay="25" data-tooltip="Vorschau in Lightbox">{{ @FILE }}</a></td>
				                    <td><span class="tooltipped inserter" id="{{ @FILE }}" data-position="top" data-delay="25" data-tooltip="Markdown-Code &uuml;bernehmen">![{{ @FILE }}]({{ @CONSTRUCTR_BASE_URL }}/UPLOADS/{{ @FILE }} "{{ @FILE }}")</span></td>
				                </tr>
				            </repeat>
						</true>
					</check>
	            </tbody>
	        </table>
		</div>
		<div class="modal-footer">
			<a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">schlie&szlig;en</a>
		</div>
	</div>
	<div class="row"><div class="col s12 center-align"><p><small><a href="http://phaziz.com" target="_blank">ConstructrCMS Version {{ @CONSTRUCTR_VERSION }}</small></a></p></div></div>
    <script src="{{ @CONSTRUCTR_BASE_URL}}/CONSTRUCTR-CMS/ASSETS/jquery/jquery-2.1.4.min.js"></script>
    <script src="{{ @CONSTRUCTR_BASE_URL}}/CONSTRUCTR-CMS/ASSETS/materialize/js/materialize.min.js"></script>
    <script src="{{ @CONSTRUCTR_BASE_URL}}/CONSTRUCTR-CMS/ASSETS/imagelightbox/imagelightbox.min.js"></script>
    <script src="{{ @CONSTRUCTR_BASE_URL}}/CONSTRUCTR-CMS/ASSETS/countable/countable.js"></script>
    <script>
        $(function() {
        	$(".button-collapse").sideNav();
			(function ($, undefined){
				$.fn.extend({
					insertAtCaret: function(myValue){
						var obj;
						if( typeof this[0].name !='undefined' ) obj = this[0]; 
						else obj = this;

						if (navigator.appName == 'Microsoft Internet Explorer'){
							obj.focus();
							sel = document.selection.createRange();
							sel.text = myValue;
							obj.focus();
						} else {
							var startPos = obj.selectionStart;
							var endPos = obj.selectionEnd;
							var scrollTop = obj.scrollTop;
							obj.value = obj.value.substring(0, startPos)+myValue+obj.value.substring(endPos,obj.value.length);
							obj.focus();
							obj.selectionStart = startPos + myValue.length;
							obj.selectionEnd = startPos + myValue.length;
							obj.scrollTop = scrollTop;
						}
					}
				});
			})(jQuery);
			$('.inserter').bind('click', function(){
				var FILE = $( this).attr( 'id' );
				var BASE_URL = "{{ @CONSTRUCTR_BASE_URL }}";
				var MARKDOWN = '![' + FILE + '](' + BASE_URL + '/UPLOADS/' + FILE + ' "' + FILE + '")';
				$('#uploads').closeModal();
				$('#edit_content_raw').insertAtCaret(MARKDOWN);
				return false;
			});
			var area = document.getElementById('edit_content_raw');
			Countable.live(area, function (counter) {
				document.getElementById('character-counter').innerHTML = counter.characters;
				document.getElementById('word-counter').innerHTML = counter.words;
				document.getElementById('paragraph-counter').innerHTML = counter.paragraphs;
			});
			$('.lightbox').imageLightbox({
			    selector:'id="imagelightbox"',
			    allowedTypes:'png|jpg|jpeg|gif',
			    animationSpeed:100,
			    preloadNext:true,
			    enableKeyboard:true,
			    quitOnEnd:true,
			    quitOnImgClick:false,
			    quitOnDocClick:true,
			    onStart:false,
			    onEnd:false,
			    onLoadStart:false,
			    onLoadEnd:false
			});
			$('#uploadsbtn').bind('click', function (e) {
				e.preventDefault();
				$('#uploads').openModal({
					dismissible:true,opacity:0.5,in_duration:300,out_duration:100
      			});
			});
        	$('#live-preview').html('Vorschau wird generiert...');
			var CONTENT = $('#edit_content_raw').val();
            if(CONTENT != '') {
                $.post("{{ @CONSTRUCTR_BASE_URL}}/constructr/content/live-preview/", { content:CONTENT })
                  	.done(function( data ) {
                        if(data) {
							$('#live-preview').html(data);
                        }
					});
            }
			$('#edit_content_raw').bind('keyup', function() {
				var CONTENT = $('#edit_content_raw').val();
	            if(CONTENT != '') {
	                $.post("{{ @CONSTRUCTR_BASE_URL}}/constructr/content/live-preview/", { content:CONTENT })
	                  	.done(function( data ) {
	                        if(data) {
								$('#live-preview').html(data);
	                        }
						});
	            }
			});
			$(document).keyup(function(e) {
			    if (e.which === 27) javascript:history.back();
			});
            function autoBlinder(){
                $('.card-panel').fadeOut();
            }
            setInterval(autoBlinder,4500);
        	$('#edit_content').focus();
        });
    </script>
</body>
</html>
