<div class="navbar-fixed mbt50">
	<nav>
	    <div class="nav-wrapper grey darken-4">
	        <a href="#" data-activates="mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
	        <ul class="left hide-on-med-and-down">
	            <li>&#160;&#160;&#160;</li>
				<check if="{{ @ACT_VIEW }} == 'pages'">
					<true>
						<li class="active"><a href="{{ @CONSTRUCTR_BASE_URL}}/constructr/pagemanagement"><i class="material-icons left">view_quilt</i>{{ @LANGN0 }}</a></li>
					</true>
					<false>
						<li><a href="{{ @CONSTRUCTR_BASE_URL}}/constructr/pagemanagement"><i class="material-icons left">view_quilt</i>{{ @LANGN0 }}</a></li>
					</false>
				</check>
				<check if="{{ @ACT_VIEW }} == 'uploads'">
					<true>
						<li class="active"><a href="{{ @CONSTRUCTR_BASE_URL}}/constructr/uploads"><i class="material-icons left">photo</i>{{ @LANGN1 }}</a></li>
					</true>
					<false>
						<li><a href="{{ @CONSTRUCTR_BASE_URL}}/constructr/uploads"><i class="material-icons left">photo</i>{{ @LANGN1 }}</a></li>
					</false>
				</check>
				<check if="{{ @ACT_VIEW }} == 'user'">
					<true>
						<li class="active"><a href="{{ @CONSTRUCTR_BASE_URL}}/constructr/usermanagement"><i class="material-icons left">portrait</i>{{ @LANGN2 }}</a></li>
					</true>
					<false>
						<li><a href="{{ @CONSTRUCTR_BASE_URL}}/constructr/usermanagement"><i class="material-icons left">portrait</i>{{ @LANGN2 }}</a></li>
					</false>
				</check>
	        </ul>
	        <ul id="nav-mobile" class="right hide-on-med-and-down">
	            <li><a class="tooltipped" data-position="left" data-delay="25" data-tooltip="{{ @SESSION.username }} {{ @LANGN3 }}" href="{{ @CONSTRUCTR_BASE_URL}}/constructr/logout"><i class="material-icons">power_settings_new</i></a></li>
	            <li>&#160;&#160;&#160;</li>
	        </ul>
	        <ul class="side-nav" id="mobile">
				<check if="{{ @ACT_VIEW }} == 'pages'">
					<true>
						<li class="active"><a href="{{ @CONSTRUCTR_BASE_URL}}/constructr/pagemanagement"><i class="material-icons left">view_quilt</i>{{ @LANGN0 }}</a></li>
					</true>
					<false>
						<li><a href="{{ @CONSTRUCTR_BASE_URL}}/constructr/pagemanagement"><i class="material-icons left">view_quilt</i>{{ @LANGN0 }}</a></li>
					</false>
				</check>
				<check if="{{ @ACT_VIEW }} == 'uploads'">
					<true>
						<li class="active"><a href="{{ @CONSTRUCTR_BASE_URL}}/constructr/uploads"><i class="material-icons left">photo</i>{{ @LANGN1 }}</a></li>
					</true>
					<false>
						<li><a href="{{ @CONSTRUCTR_BASE_URL}}/constructr/uploads"><i class="material-icons left">photo</i>{{ @LANGN1 }}</a></li>
					</false>
				</check>
				<check if="{{ @ACT_VIEW }} == 'user'">
					<true>
						<li class="active"><a href="{{ @CONSTRUCTR_BASE_URL}}/constructr/usermanagement"><i class="material-icons left">portrait</i>{{ @LANGN2 }}</a></li>
					</true>
					<false>
						<li><a href="{{ @CONSTRUCTR_BASE_URL}}/constructr/usermanagement"><i class="material-icons left">portrait</i>{{ @LANGN2 }}</a></li>
					</false>
				</check>
	            <li><a href="{{ @CONSTRUCTR_BASE_URL}}/constructr/logout"><i class="material-icons left">power_settings_new</i>{{ @LANGN4 }}</a></li>
	        </ul>
	    </div>
	</nav>
</div>