<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ @LANG115 }}</title>
<link rel="stylesheet" href="{{ @CONSTRUCTR_BASE_URL}}/CONSTRUCTR-CMS/ASSETS/css/constructr_css_merged.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<include href="{{ @NAVIGATION }}" />
    <div class="row">
        <div class="col s12">
            <p><strong>{{ @LANG116 }}"{{ html_entity_decode(@PAGE.0.constructr_pages_name) }}"{{ @LANG117 }}</strong></p>
        </div>
    </div>
    <div class="row">
        <form name="edit_page_form" id="edit_page_form" action="{{ @CONSTRUCTR_BASE_URL}}/constructr/pagemanagement/edit" method="post" enctype="application/x-www-form-urlencoded" class="col s12">
            <input type="hidden" name="csrf" value="{{ @CSRF }}">
            <input type="hidden" name="csrf_additive" value="{{ @ADDITIVE }}">
            <input type="hidden" name="csrf_tripple_additive" value="{{ @TRIPPLE_ADDITIVE }}">
            <input type="hidden" name="edit_page" id="edit_page" value="{{ @PAGE.0.constructr_pages_id }}">
            <input type="hidden" name="old_template" id="old_template" value="{{ @PAGE.0.constructr_pages_template }}">
            <div class="input-field col s12">
                <input type="text" id="page_name" name="page_name" length="100" value="{{ html_entity_decode(@PAGE.0.constructr_pages_name) }}" placeholder="{{ @LANG118 }}" required="required" autofocus="autofocus">
                <label for="page_name">{{ @LANG118 }}:</label>
            </div>
            <check if="{{ @PAGE.0.constructr_pages_order }} == 1">
            	<true>
		            <div class="input-field col s12">
		                <input type="text" id="page_url" name="page_url" length="100" value="{{ @PAGE.0.constructr_pages_url }}" placeholder="{{ @LANG119 }}" maxlength="100" onblur="javascript:cleanUpMess();">
		                <label for="page_url">{{ @LANG119 }}:</label>
		            </div>
				</true>
				<false>
		            <div class="input-field col s12">
		                <input type="text" id="page_url" name="page_url" length="100" value="{{ @PAGE.0.constructr_pages_url }}" placeholder="{{ @LANG120 }}" required="required" maxlength="100" onblur="javascript:cleanUpMess();">
		                <label for="page_url">{{ @LANG120 }}:</label>
		            </div>
				</false>
            </check>
            <div class="input-field col s12">
                <input type="url" id="page_ext_url" name="page_ext_url" length="100" value="{{ @PAGE.0.constructr_pages_ext_url }}" placeholder="{{ @LANG121 }}" maxlength="100">
                <label for="page_url">{{ @LANG121 }}:</label>
            </div>
            <check if="{{ count(@TEMPLATES) }} != 0">
                <true>
                    <div class="input-field col s12">
                        <select name="page_template" id="page_template" required="required">
                            <option value="">{{ @LANG122 }}:</option>
                            <repeat group="{{ @TEMPLATES }}" value="{{ @TEMPLATE }}">
                            	<check if="{{ @PAGE.0.constructr_pages_template }} == {{ @TEMPLATE }}">
                            		<true>
                            			<option selected="selected" value="{{ @TEMPLATE }}">{{ @TEMPLATE }}</option>
                            		</true>
                            		<false>
                            			<option value="{{ @TEMPLATE }}">{{ @TEMPLATE }}</option>
                            		</false>
                        		</check>
                        	</repeat>
                        </select>
                        <label for="page_template">{{ @LANG123 }}:</label>
                    </div>
                </true>
                <false>
                    <input type="hidden" name="page_template" id="page_template" value="index.php">
                </false>
            </check>
            <div class="input-field col s12">
                <select name="page_nav_visible" id="page_nav_visible" required="required">
                    <option value="">{{ @LANG124 }}:</option>
                	<check if="{{ @PAGE.0.constructr_pages_nav_visible }} == 1">
                		<true>
                			<option value="1" selected="selected">{{ @LANG125 }}</option>
                		</true>
                		<false>
                			<option value="0" selected="selected">{{ @LANG126 }}</option>
                		</false>
            		</check>
                    <option value="">- - -</option>
                    <option value="1">{{ @LANG125 }}</option>
                    <option value="0">{{ @LANG126 }}</option>
                </select>
                <label for="page_nav_visible">{{ @LANG127 }}:</label>
            </div>
            <div class="input-field col s12">
                <input type="text" id="page_title" name="page_title" length="55" value="{{ html_entity_decode(@PAGE.0.constructr_pages_title) }}" placeholder="{{ @LANG128 }}" required="required">
                <label for="page_title">{{ @LANG128 }}:</label>
            </div>
            <div class="input-field col s12">
                <input type="text" id="page_description" name="page_description" length="156" value="{{ html_entity_decode(@PAGE.0.constructr_pages_description) }}" placeholder="{{ @LANG129 }}" required="required">
                <label for="page_description">{{ @LANG129 }}:</label>
            </div>
            <div class="input-field col s12">
                <input type="text" id="page_keywords" name="page_keywords" length="250" value="{{ html_entity_decode(@PAGE.0.constructr_pages_keywords) }}" placeholder="{{ @LANG130 }}" required="required">
                <label for="page_keywords">{{ @LANG130 }}:</label>
            </div>
            <div class="input-field col s12">
                <textarea id="page_css" name="page_css" class="materialize-textarea" placeholder="{{ @LANG131 }}">{{ @PAGE.0.constructr_pages_css_uncompressed }}</textarea>
                <label for="page_css">{{ @LANG131 }}:</label>
            </div>
            <div class="input-field col s12">
                <textarea id="page_js" name="page_js" class="materialize-textarea" placeholder="{{ @LANG132 }}">{{ @PAGE.0.constructr_pages_js_uncompressed }}</textarea>
                <label for="page_js">{{ @LANG132 }}:</label>
            </div>
            <div class="input-field col s12 center-align">
            	<br><br>
                <button class="btn waves-effect waves-light" type="submit" name="action">{{ @LANG133 }}</button>
                <button class="btn waves-effect waves-light red" id="esc" type="submit" name="action">{{ @LANG134 }}</button>
                <p><small>{{ @LANG135 }}</small></p>
            </div>
        </form>
    </div>
	<div class="row"><div class="col s12 center-align"><p><small><a href="http://constructr-cms.org" target="_blank">ConstructrCMS Version {{ @CONSTRUCTR_VERSION }}</small></a></p></div></div>
	<script src="{{ @CONSTRUCTR_BASE_URL}}/CONSTRUCTR-CMS/ASSETS/js/constructr_js_merged.min.js"></script>
    <script>
        $(function() {
        	$(".button-collapse").sideNav();
			$(document).keyup(function(e) {
			    if (e.which === 27) javascript:history.back();
			});
			$('#esc').bind('click',function() {
			    javascript:history.back();
			});
            $('select').material_select();
            function autoBlinder(){
                $('.card-panel').fadeOut();
            }
            setInterval(autoBlinder,4500);
            cleanUpMess = function() {
        		var URL = $('#page_url').val().toLowerCase();
                var CLEAN_URL = '';
                for (i = 0; i < URL.length; i++) {
                    var ACT_CHAR = URL.charAt(i);
                    if (ACT_CHAR == ' ') {
                        ACT_CHAR = '-';
                    }
                    if (ACT_CHAR == 'ä' || ACT_CHAR == 'Ä') {
                        ACT_CHAR = 'ae';
                    }
                    if (ACT_CHAR == 'ü' || ACT_CHAR == 'Ü') {
                        ACT_CHAR = 'ue';
                    }
                    if (ACT_CHAR == 'ö' || ACT_CHAR == 'Ö') {
                        ACT_CHAR = 'oe';
                    }
                    if (ACT_CHAR == 'ß') {
                        ACT_CHAR = 'ss';
                    }
                    if (ACT_CHAR == '!' || ACT_CHAR == '"'  || ACT_CHAR == "'" || ACT_CHAR == '§' || ACT_CHAR == '%' || ACT_CHAR == '$' || ACT_CHAR == '&' || ACT_CHAR == '(' || ACT_CHAR == ')' || ACT_CHAR == '=' || ACT_CHAR == '?' || ACT_CHAR == '`' || ACT_CHAR == '*' || ACT_CHAR == '+' || ACT_CHAR == '#' || ACT_CHAR == ',' || ACT_CHAR == '.' || ACT_CHAR == ';' || ACT_CHAR == ':' || ACT_CHAR == '<' || ACT_CHAR == '>' || ACT_CHAR == '@') {
                        ACT_CHAR = '-';
                    }
                    ACT_CHAR = ACT_CHAR.toLowerCase();
                    CLEAN_URL += ACT_CHAR;
                }
	            if(CLEAN_URL != '') {
	                $.post("{{ @CONSTRUCTR_BASE_URL}}/constructr/pagemanagement/slug", { messy_url:CLEAN_URL })
                  	.done(function( data ) {
                        if(data != '') {
							$('#page_url').val(CLEAN_URL);
                        } else {
				            vex.dialog.buttons.YES.text = '{{ @LANGG2 }}';
				            vex.dialog.alert({
				                className: 'vex-theme-wireframe',
				                message: '<h5>{{ @LANGG3 }}:</h5>{{ @LANGG4 }}: ' + data,
				            });
                        }
					});
	            }
            }
        });
    </script>
</body>
</html>
