<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Constructr Login</title>
<link rel="stylesheet" href="{{ @CONSTRUCTR_BASE_URL}}/CONSTRUCTR-CMS/ASSETS/css/constructr.css">
<link rel="stylesheet" href="{{ @CONSTRUCTR_BASE_URL}}/CONSTRUCTR-CMS/ASSETS/materialize/css/materialize.min.css">
<link rel="stylesheet" href="{{ @CONSTRUCTR_BASE_URL}}/CONSTRUCTR-CMS/ASSETS/vex/css/vex.css">
<link rel="stylesheet" href="{{ @CONSTRUCTR_BASE_URL}}/CONSTRUCTR-CMS/ASSETS/vex/css/vex-theme-default.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col s12">
	    		<h1 class="center-align">Login</h1>
    		</div>
			<div class="col s12">
	    		<div class="card-panel teal accent-3">Das Passwort wurde erfolgreich zur&uuml;ckgesetzt und per eMail versendet!</div>
    		</div>
		</div>
		<div class="row form-row">
			<form name="login" id="login" action="{{ @CONSTRUCTR_BASE_URL}}/constructr/login" method="post" enctype="application/x-www-form-urlencoded" class="col s12">
				<input type="hidden" name="csrf" value="{{ @CSRF }}">
				<input type="hidden" name="csrf_additive" value="{{ @ADDITIVE }}">
				<input type="hidden" name="csrf_tripple_additive" value="{{ @TRIPPLE_ADDITIVE }}">
				<div class="input-field col s12">
					<i class="mdi-action-account-circle prefix"></i>
					<input type="text" id="username" name="username" value="" placeholder="Benutzername" required="required" autofocus="autofocus">
					<label for="icon_prefix">Benutzername:</label>
				</div>
				<div class="input-field col s12 ghost">
					<i class="mdi-action-account-circle prefix"></i>
					<input type="text" id="email" name="email" value="" placeholder="eMail">
					<label for="icon_prefix">eMail:</label>
				</div>
				<div class="input-field col s12">
					<i class="mdi-action-lock-outline prefix"></i>
					<input type="password" id="password" name="password" value="" placeholder="Passwort" required="required">
					<label for="icon_prefix">Passwort:</label>
				</div>
				<div class="input-field col s6">
					<button class="btn waves-effect waves-light" type="submit" name="action">Login<i class="mdi-content-send right"></i></button>
				</div>
				<div class="input-field col s6">
					<p class="right-align"><small><a id="retrieve_password" href="#">Passwort vergessen?</a></small></p>
				</div>
			</form>
		</div>
	</div>
	<div class="row"><div class="col s12 center-align"><p><small><a href="http://phaziz.com" target="_blank">ConstructrCMS Version {{ @CONSTRUCTR_VERSION }}</small></a></p></div></div>
	<script src="{{ @CONSTRUCTR_BASE_URL}}/CONSTRUCTR-CMS/ASSETS/jquery/jquery-2.1.4.min.js"></script>
	<script src="{{ @CONSTRUCTR_BASE_URL}}/CONSTRUCTR-CMS/ASSETS/materialize/js/materialize.min.js"></script>
	<script src="{{ @CONSTRUCTR_BASE_URL}}/CONSTRUCTR-CMS/ASSETS/vex/js/vex.combined.min.js"></script>
	<script>
		$(function() {
			$("#username").focus();
			$('#retrieve_password').click(function() {
				var A = $('#username').val();
				var E = $('#email').val();

				if(E != ''){
					return false;
				}

				if(typeof A === 'undefined' || A == '') {
					$('#username').focus();
	                vex.dialog.buttons.YES.text = 'Okay';
	                vex.dialog.alert({
	                    className: 'vex-theme-default',
	                    message: 'Bitte das Feld Benutzername ausfüllen!',
	                });
					return false;
				} else {
	                vex.dialog.buttons.YES.text = 'Ja';
	                vex.dialog.buttons.NO.text = 'Abbrechen';
	                vex.dialog.confirm({
	                    className: 'vex-theme-default',
	                    message: 'Möchten Sie wirklich das Passwort für diesen Benutzer zurücksetzen?',
	                    callback: function(value){
	                        if(value == true){
	                            $(location).attr('href','{{ @CONSTRUCTR_BASE_URL}}/constructr/retrieve-password/' + A);
	                        } else {
	                            return false;
	                        }
	                    }
	                });
				}
			});
            function autoBlinder(){
                $('.card-panel').fadeOut();
            }
            $(document).keyup(function(e) {
			    if (e.which === 27) javascript:history.back();
			});
            setInterval(autoBlinder,4500);
			$('#login').bind('submit', function() {
				var A = $('#username').val();
				var P = $('#password').val();
				var E = $('#email').val();

				if(typeof A === 'undefined' || A == '' || typeof P === 'undefined' ||  P == '' || E != '') {
					return false;
				}
			});
		});
	</script>
</body>
</html>